body {
    background-color: lightblue;
}

.fa-pen-to-square {
    color: white;
    font-size: 2rems;
}

.page_number{
    float: left;
    margin-right: 20px;
}

.next_button{
    float: right;
    margin-right: 20px;
}

footer{
    margin-top: 20px;
}

header{
    float: center;
}

